{% extends 'base1.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Start_date_time</th>
                <th>End_date_time</th>
                <th>Location</th>
                <th>Number_participants</th>
                <th>Status</th>
                <th>Image</th>
                <th>Category</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.startDateTime ? event.startDateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.endDateTime ? event.endDateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.numberParticipants }}</td>
                <td>{{ event.status }}</td>
                <td>{{ event.image }}</td>
                <td>{{ event.category }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}">Create new</a>
{% endblock %}
