<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <style>
        /* Define your styles for the PDF here */
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <div>
    <center><h1>Events List</h1></center>
     <table class="table" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>Price</th>
                <th>Location</th>
                <th>Statut</th>
                <th>Image</th>
                <th>Nb_participant</th>
               
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.startDate ? event.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.endDate ? event.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.price }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.statut }}</td>
                <td><img src="{{asset(event.image)}}" height="100" width="100" ></td>
                <td>{{ event.nbParticipant }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10" >No records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
