{% extends 'base.html.twig' %}
{% block body %}
    <main>
        <div class="container">
            <style>
                .content-box {
                   margin-left: auto;
                    margin-right: auto;
                    max-width: 600px; 
                    margin-top: 50px; 
                    padding: 70px; 
                }
            </style>

            <div class="content-box">
                <h1>Liste des actualités</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Date_publication</th>
                            <th>Description</th>
                            <th>Categorie</th>
                            <th>Image</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                            <th>Détail</th>


                        </tr>
                    </thead>
                    <tbody>
                        {% for actualite in actualites %}
                            <tr>
                                <td>{{ actualite.id }}</td>
                                <td>{{ actualite.titre }}</td>
                                <td>{{ actualite.datePublication ? actualite.datePublication|date('Y-m-d') : '' }}</td>
                                <td>{{ actualite.description }}</td>
                                <td>{{ actualite.categorie }}</td>

<td style="height: 10;width: 10;"><img src="{{ asset('images/' ~ actualite.image) }}" style="height:40px;width:40px;">
                                                                            </td>                                <td>
                                    <a href="{{ path('app_actualite_show', {'id': actualite.id}) }}">show</a></td>
                                    <td> <a href="{{ path('app_actualite_edit', {'id': actualite.id}) }}">edit</a></td>
                                   <td>  <a>{{ include('actualite/_delete_form.html.twig') }}</a></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">no records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('app_actualite_new') }}">Create new</a>
            </div>
        </div>
    </main>
{% endblock %}
