{% extends 'base1.html.twig' %}



{% block body %}
    <div class="row">
        <div style="display: flex; align-items: center; justify-content: center; margin-top: 150px; padding: 10px;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Modifier une organisation</h5>

                    <!-- Début du formulaire -->
                    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                    <!-- Champ id -->

<!-- Champ nom -->
<div class="form-group row">
    <label for="inputText" class="col-sm-4 col-form-label">Nom</label>
    <div class="col-sm-8">
        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.nom, {'attr': {'class': 'text-danger'}}) }}
    </div>
</div>
<!-- Champ adresse -->
<div class="form-group row">
    <label for="inputText" class="col-sm-4 col-form-label">Adresse</label>
    <div class="col-sm-8">
        {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.adresse, {'attr': {'class': 'text-danger'}}) }}
    </div>
</div>
<!-- Champ telephone -->
<div class="form-group row">
    <label for="inputText" class="col-sm-4 col-form-label">Téléphone</label>
    <div class="col-sm-8">
        {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.telephone, {'attr': {'class': 'text-danger'}}) }}
    </div>
</div>
<!-- Champ email -->
<div class="form-group row">
    <label for="inputText" class="col-sm-4 col-form-label">Email</label>
    <div class="col-sm-8">
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.email, {'attr': {'class': 'text-danger'}}) }}
    </div>
</div>
<!-- Champ contact -->
<div class="form-group row">
    <label for="inputText" class="col-sm-4 col-form-label">Contact</label>
    <div class="col-sm-8">
        {{ form_widget(form.contact, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.contact, {'attr': {'class': 'text-danger'}}) }}
    </div>
</div>
<!-- Champ domaine_activite -->
<div class="form-group row">
    <label for="inputText" class="col-sm-4 col-form-label">Domaine d'activité</label>
    <div class="col-sm-8">
        {{ form_widget(form.domaine_activite, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.domaine_activite, {'attr': {'class': 'text-danger'}}) }}
    </div>
</div>


                    <!-- Bouton de soumission -->
                    <div class="form-group row justify-content-center">
                        {{ form_widget(form.ajouter, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>

                    <!-- Fin du formulaire -->
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
