{# index.html.twig #}
{% extends 'base1.html.twig' %}

{% block body %}
    <h1>Event index</h1>






{% block title %}Organisation index{% endblock %}

{% block body %}
<br>
<br>
<br>
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    
    




    <table class="table">
        <thead>
            <tr>
                <th>Id</th>




                <th>Title</th>
                <th>Description</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>Price</th>
                <th>Location</th>
                <th>Statut</th>
                <th>Image</th>
                <th>Nb_participant</th>



                <th>Nom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Domaine_activite</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>




        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.startDate ? event.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.endDate ? event.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.price }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.statut }}</td>
                <td>{{ event.image }}</td>
                <td>{{ event.nbParticipant }}</td>
                <td>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">Edit</a>
                    {#<a href="{{ path('app_event_delete', {'id': event.id, 'token': csrf_token('delete' ~ event.id)}) }}">Delete</a>#}
               <form action="{{ path('app_event_delete', {'id': event.id}) }}" method="post" style="display: inline-block;">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
                    <button type="submit" style="border: none; background: none; color: red; padding: 0; margin: 0; cursor: pointer;">Delete</button>
                </form>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}">Create new</a>
{% endblock %}

