{#{% extends 'base.html.twig' %}

{% block title %}Edit Reclamation
{% endblock %}

{% block body %}
	<h1>Edit Reclamation</h1>

	{{ include('reclamation/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_reclamation_index') }}">back to list</a>

	{{ include('reclamation/_delete_form.html.twig') }}
{% endblock %}#}
{% extends 'base1.html.twig' %}

{% block body %}
	<div class="row">
		<div style="display: flex; align-items: center; justify-content: center; margin-top: 150px; padding: 10px;">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Modifier  une reclamation</h5>

					<!-- Début du formulaire -->
					{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
					<!-- Champ objet -->
					<div class="form-group row">
						<label for="inputText" class="col-sm-4 col-form-label">Objet</label>
						<div class="col-sm-8">
							{{ form_widget(form.objet, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.objet, {'attr': {'class': 'text-danger'}}) }}
						</div>
					</div>
					<!-- Champ contenu -->
					<div class="form-group row">
						<label for="inputText" class="col-sm-4 col-form-label">Contenu</label>
						<div class="col-sm-8">
							{{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.contenu, {'attr': {'class': 'text-danger'}}) }}
						</div>
					</div>
					<!-- Champ statut -->
					<div class="form-group row">
						<label for="inputText" class="col-sm-4 col-form-label">Statut</label>
						<div class="col-sm-8">
							{{ form_widget(form.statut, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.statut, {'attr': {'class': 'text-danger'}}) }}
						</div>
					</div>

					<!-- Champ date_reclamation -->
					<div class="form-group row">
						<label for="inputText" class="col-sm-4 col-form-label">Date reclamation</label>
						<div class="col-sm-8">
							{{ form_widget(form.date_reclamation, {'attr': {'class': 'form-control'}}) }}
							{{ form_errors(form.date_reclamation, {'attr': {'class': 'text-danger'}}) }}
						</div>
					</div>


					<!-- Bouton de soumission -->
					<div class="form-group row justify-content-center">
						{{ form_widget(form.ajouter, {'attr': {'class': 'btn btn-primary'}}) }}
					</div>

					<!-- Fin du formulaire -->
					{{ form_end(form) }}

				</div>
			</div>
		</div>
	</div>
{% endblock %}
