{% extends 'base1.html.twig' %}

{% block body %}
	<main>
		<div class="container">
			<style>
				.content-box {
					margin-left: auto;
					margin-right: auto;
					max-width: 800px; /* Adjust the max-width as needed */
					margin-top: 50px; /* Adjust the top margin as needed */
					padding: 70px; /* Add padding as needed */
				}
			</style>

			<div class="content-box">
				<h1>Reclamation</h1>

				<table class="table">
					<tbody>
						<tr>
							<th>Id</th>
							<td>{{ reclamation.id }}</td>
						</tr>
						<tr>
							<th>Objet</th>
							<td>{{ reclamation.objet }}</td>
						</tr>
						<tr>
							<th>Contenu</th>
							<td>{{ reclamation.contenu }}</td>
						</tr>
						<tr>
							<th>Statut</th>
							<td>{{ reclamation.statut }}</td>
						</tr>
						<tr>
							<th>Date_reclamation</th>
							<td>{{ reclamation.dateReclamation ? reclamation.dateReclamation|date('Y-m-d') : '' }}</td>
						</tr>
					</tbody>
				</table>

				<a href="{{ path('app_reclamation_index1') }}">back to list</a>

				<a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">edit</a>

				{{ include('reclamation/_delete_form.html.twig') }}
			</div>
		</div>
	</main>
{% endblock %}
