{% extends 'base1.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}




  <main id="main" class="main" style="padding-top:100px;">

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

{% if app.user.roles is defined and 'ROLE_FREELANCER' in app.user.roles %}
    {% set profilePicture = app.user.ProfilePicture %}
    {% if profilePicture is null %}
        {% set profilePicture = 'uploads/profilepicture.png' %}
    {% endif %}
    <img src="{{ asset(profilePicture) }}" class="rounded-circle" style="width:150px;height:150px">
{% elseif app.user.roles is defined and 'ROLE_CLIENT' in app.user.roles %}
    {% set companyLogo = app.user.companyLogo %}
    {% if companyLogo is null %}
        {% set companyLogo = 'uploads/profilepicture.png' %}
    {% endif %}
    <img src="{{ asset(companyLogo) }}" class="rounded-circle" style="width:150px;height:150px">
{% endif %}


              <h2>{{ app.user.firstName }} {{ app.user.lastName }}</h2>
              <h3>{{app.user.JobTitle}}</h3>

            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>
                <li class="nav-item">

<button onclick="location.href='{{ path('app_user_controller_crud_edit', {'id': user.id}) }}'" class="nav-link active">Edit User</button>


</li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">About</h5>
                    <p>{{app.user.ProfessionalOverview}}</p>

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{ app.user.firstName }} {{ app.user.lastName }}</div>
                  </div>

                                                        {% if app.user.roles is defined and 'ROLE_FREELANCER' in app.user.roles %}


                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Job</div>
                    <div class="col-lg-9 col-md-8">{{app.user.JobTitle}}</div>
                  </div>

             
                   <div class="row">
                    <div class="col-lg-3 col-md-4 label">Experience</div>
                    <div class="col-lg-9 col-md-8">{{app.user.Expertise}}</div>
                  </div>


                 <div class="row">
                    <div class="col-lg-3 col-md-4 label">your Rate</div>
                    <div class="col-lg-9 col-md-8"><span class="badge bg-danger">{{ app.user.Rate | default('Not rated') }}</span></div>
                  </div>

                 {% endif %}

                 <div class="row">
                    <div class="col-lg-3 col-md-4 label">Language</div>
                    <span class="col-lg-9 col-md-8"><span class="badge bg-success">{{ app.user.language | join(', ') }}</span>

                  </div>
                  </div>

                                                                            {% if app.user.roles is defined and 'ROLE_CLIENT' in app.user.roles %}


  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Company name</div>
                    <div class="col-lg-9 col-md-8">{{app.user.CompanyName}}</div>
                  </div>
                
  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Company Description</div>
                    <div class="col-lg-9 col-md-8">{{app.user.CompanyDescription}}</div>
                  </div>
                    <div class="row">
                    <div class="col-lg-3 col-md-4 label">Company  Website </div>
                    <div class="col-lg-9 col-md-8">{{app.user.companyWebsite}}</div>
                  </div>


                 
{% endif %}
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8">{{app.user.phone}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{app.user.Email}}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

               
            </div>
          </div>

<div class="card"   style="width :50%">
    <div class="card-body">
        <h5 class="card-title">Friends List</h5>

        <!-- Friends List Table -->
        <table class="table"      >
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <!-- Add additional columns as needed -->
                </tr>
            </thead>
            <tbody>
                {% for key, friend in friendsList %}
                    <tr>
                        <th scope="row">{{ key + 1 }}</th>
                        <td>{{ friend.firstName }}</td>
                        <td>{{ friend.lastName }}</td>
                        <!-- Add additional columns as needed -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- End Friends List Table -->
    </div>
</div>



      </div>

<form action="{{ path('app_user_controller_crud_delete', {'id': user.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete your account ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button type="submit" class="btn btn-danger">Delete Profile</button>
</form>

    </section>
    
{# Assuming friendsList is an array of User entities #}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>







<!--     yofa lena         -->

{% endblock %}
