{% extends 'base.html.twig' %}

{% block title %}Admin Page{% endblock %}

{% block body %}
    <h1>Welcome to the Admin Page</h1>

    {% if app.user.roles is defined and 'ROLE_ADMIN' in app.user.roles %}
        
<div class="row" style="padding-top:100px">
    <div class="col-lg-6 offset-lg-3">

          <div class="card">
            <div class="card-body">


    {{ form_start(form) }}

                <div class="col-12">
                  <label for="inputNanme4" class="form-label">Your First Name</label>
                    {{ form_widget(form.FirstName) }}
                </div>
                
                <div class="col-12">
                  <label for="inputNanme4" class="form-label">Your Last Name</label>
                    {{ form_widget(form.LastName) }}
                </div>
                <div class="col-12">
                  <label for="inputEmail4" class="form-label">Email</label>
        {{ form_widget(form.email) }}
                </div>
               




 <div class="col-12">
                  <label for="inputEmail4" class="form-Password">Password</label>
        {{ form_widget(form.plainPassword) }}
                </div>




{{ form_end(form) }}
    </div>
    </div>
    </div>
        <!-- Add more admin functionalities here -->
    {% else %}
        <p>You do not have the necessary permissions to access this page.</p>
    {% endif %}
{% endblock %}
