{% extends 'base1.html.twig' %}

{% block body %}
	<main>
		<div class="container">
			<style>
				.content-box {
					margin-left: auto;
					margin-right: auto;
					max-width: 600px; /* Adjust the max-width as needed */
					margin-top: 50px; /* Adjust the top margin as needed */
					padding: 20px; /* Add padding as needed */
					text-align: center; /* Center the text */
				}
			</style>

			<div class="content-box">
				<h1>Comments</h1>

				<table class="table">
					<tbody>
						<tr>
							<th>Id</th>
							<td>{{ commentaire.id }}</td>
						</tr>
						<tr>
							<th>Auteur</th>
							<td>{{ commentaire.auteur }}</td>
						</tr>
						<tr>
							<th>Commentaire</th>
							<td>{{ commentaire.commentaire }}</td>
						</tr>
						<tr>
							<th>Date_publication</th>
							<td>{{ commentaire.date_publication ? commentaire.date_publication|date('Y-m-d') : '' }}</td>
						</tr>
						<tr>
							<th>Note</th>
							<td>{{ commentaire.note }}</td>
						</tr>
					</tbody>
				</table>

				<a href="{{ path('app_commentaire_index') }}">Back to list</a>
				<a href="{{ path('app_commentaire_edit', {'id': commentaire.id}) }}">Edit</a>

				{{ include('commentaire/_delete_form.html.twig') }}
			</div>
		</div>
	</main>
{% endblock %}
