{% extends 'base1.html.twig' %}

{% block title %}Organisation index{% endblock %}

{% block body %}
    <h1>Organisation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Domaine_activite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for organisation in organisations %}
            <tr>
                <td>{{ organisation.id }}</td>
                <td>{{ organisation.nom }}</td>
                <td>{{ organisation.adresse }}</td>
                <td>{{ organisation.telephone }}</td>
                <td>{{ organisation.email }}</td>
                <td>{{ organisation.contact }}</td>
                <td>{{ organisation.domaineActivite }}</td>
                <td>
                    <a href="{{ path('app_organisation_show', {'id': organisation.id}) }}">show</a>
                    <a href="{{ path('app_organisation_edit', {'id': organisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_organisation_new') }}">Create new</a>
{% endblock %}
